@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Concert+One');

@keyframes slide {
    from {
        height: 30px;
    }

    to {
        height: 50px;
    }
}

@keyframes slidein {
    from {
        height: 50px;
    }

    to {
        height: 30px;
    }
}

h1 {
    font-family: 'Concert One', cursive;
    text-shadow: 0 10px 30px lightblue;
    color: white;
}

h2 {
    font-size: 80px;
    font-family: 'Concert One', cursive;
}

p {
    font-size: 20px;
    font-family: 'Montserrat', 'Arial', sans-serif;
}

.container {
    border: 15px solid;
    border-image: linear-gradient(180deg, lightyellow, lightblue) 20;
    padding: 20px;
    width: 700px;
    margin: 10vh auto;
    font-size: 30px;
    color: darkgrey;
    font-family: 'Montserrat', 'Arial', sans-serif;
    text-align: center;
    min-height: 70vh;
}

body {
    background: linear-gradient(180deg, lightblue, white);
    background-attachment: fixed;
}

.city-input {
    margin: 40px auto;
    display: block;
    padding: 15px;
    color: gray;
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-size: 20px;
    width: 400px;
    height: 30px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 10px 30px -10px gray;
    animation-name: slidein;
    animation-duration: 0.3s;
}

.city-input:focus {
    outline: none;
    animation-name: slide;
    animation-duration: 0.3s;
    box-shadow: 0 10px 30px 0px gray;
    height: 50px;
}

.daily {
    width: 300px;
    border: 1px solid white;
    padding: 10px;
    margin: 10px auto;
}